{% extends 'contest_app/index.html' %}
{% block content %}
<div class='content'>
    <h1>The heck is this contest?</h1>
    <div class='cards-container'>
        <div class="card border border-white border-3 card-info-1" style="width: 18rem; ">
            <img src="https://media.tenor.com/y2JXkY1pXkwAAAAM/cat-computer.gif" class="img-fluid rounded-start" alt="...">
            <div class="card-body">
              <h5 class="card-title">What it is?</h5>
              <p class="card-text">
                The purpose of the <strong>"Pizza Web Contest"</strong> is to hone your skills on practical tasks in competitive mode. In total, you will have 2 project assignments of 1 hour each. All projects will be honestly evaluated. Creativity is welcome!
              </p>
              {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
            </div>
        </div>
        <div class="card border border-white border-3 card-info-2" style="width: 18rem; ">
            <img src="https://c.tenor.com/Ei3lTpQnrU4AAAAC/cat-fight.gif" class="img-fluid rounded-start" alt="...">
            <div class="card-body">
              <h5 class="card-title">What to do?</h5>
              <p class="card-text">
                Teams of 1-2 people are accepted. You need to come up with a name for the team and leave the details of the members in the form on the next page. The event will be held on Saturday, October 15 in the building of AlmaU
              </p>
              {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
            </div>
        </div>
        <div class="card border border-white border-3 card-info-3" style="width: 18rem;">
            <img src="https://media2.giphy.com/media/Xqg9KRotq2zcs/giphy.gif" class="img-fluid rounded-start" alt="...">
            <div class="card-body">
              <h5 class="card-title">Anything else?</h5>
              <p class="card-text">
                <strong><em>There will be pizza!</em></strong>
                <br/>
                And I hope you all enjoy it. In any case, I will try to arrange everything
              </p>
              {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
            </div>
        </div>
    </div>
    
</div>
<a href='/register' class="btn btn-warning text-white next-button">
    Yeeah i like it!
  </a>
<a class='easter-kok' href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'><img src='https://freepngimg.com/thumb/internet_meme/3-2-troll-face-meme-png.png' alt='big-kok'/></a>

{% endblock %}