{% extends 'contest_app/index.html' %}
{% block content %}
<div class='content'>
    <div class='certificate'>
        <div class='certificate__header'>
            <h2>The International 2022</h2>
            
            <p>21 Sept, 2022</p>
        </div>

        <div class='certificate__body'>
            <p>This certificate is proudly presented to:</p>
            <div class='certificate__owner'>
                <h1>Participant Name</h1>
                <h1>Team "Dispose"</h1>
            </div>
            <p>for teaching HTML\CSS</p>

        </div>

    </div>
</div>
{% endblock %}