{% extends 'contest_app/index.html' %}
{% block content %}
<div class='content'>
    <h1>Welcome to the</h1>
    <div class="circle">
      <img
        class="logo"
        src="https://media1.giphy.com/media/bj09BK2BzLLQk/200w.gif?cid=82a1493bup74ordbfg507aimyh3oua1mk9297hoyb4kxisr8&rid=200w.gif&ct=g"
        alt=""
      />
      <div class="text">
        <p>Web - Developers - Contest -</p>
      </div>
    </div>
    <h4>...the most broken contest in the world</h4>
    <a href='/about' class="btn btn-warning text-white start-button">
        What are you waiting for?
      </a>
</div>
{% endblock %}